---
import { Image } from "@astrojs/image/components";

import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sarvesh Rane - About">
	<main class="container mx-auto md:py-4 py-2 md:px-6 px-3">
		<div class="lg:grid lg:grid-cols-5 flex flex-col-reverse lg:mt-14 mt-0">
			<div class="col-span-3 lg:mt-0 mt-10">
				<Card label={"tagline"}>
					<h2
						class="font-bold md:text-5xl text-4xl md:leading-snug leading-tight lg:mr-56"
					>
						Adding, Committing and Pushing code since 2019.
					</h2>
				</Card>
				<Card label={"about"}>
					<p
						class="md:text-xl text-lg text-gray-600 lg:mr-36 mr-0 mt-10 md:leading-relaxed leading-normal"
					>
						I'm a final-year engineering student in Pune, India,
						with a major in electronics and telecommunications. I
						enjoy developing software and UI/UX designs. I've worked
						with a variety of full-stack web technologies and am
						eager learn more. I love going to parties, travelling,
						and a variety of other things. “Usually everything feels
						better with music, so EDM is my go-to.”
					</p>
				</Card>
			</div>
			<div class="col-span-2">
				<Card label="image" labelDirection={"right"}>
					<div class="lg:h-[570px] md:h-[800px] h-[570px]">
						<Image
							class="object-cover h-full self-end shadow-xl"
							src={import("../../public/images/student.jpg")}
							alt="student"
							height={1200}
							aspectRatio={"2:3"}
						/>
					</div>
				</Card>
			</div>
		</div>
	</main>
</Layout>
