---
import { SITE_NAME } from "../config";
import Navlink from "./Navlink.astro";
import Wrapper from "./Wrapper.astro";

const links = [
	{ href: "/", label: "Home" },
	{ href: "/work/", label: "Work" },
	{ href: "/about/", label: "About" },
];
---

<Wrapper tagName="nav" content_classlist={["lg:px-2 px-1", "py-0.5"]}>
	<header
		class="xl:container mx-auto flex md:flex-row flex-col justify-between md:gap-3 text-base"
	>
		<Wrapper tagName="title" content_classlist={["px-1", "py-1"]}>
			<h4 class="font-bold text-base"><a href="/">{SITE_NAME}</a></h4>
		</Wrapper>
		<div class="md:block hidden">
			<Wrapper tagName="navlinks" content_classlist={["px-1", "py-1"]}>
				<ul class="md:space-x-6 space-x-3 flex justify-end">
					{
						links.map(({ href, label }) => (
							<Navlink href={href} label={label} />
						))
					}
				</ul>
			</Wrapper>
		</div>
	</header>
</Wrapper>
