---
interface Props {
	label: string;
	href: string;
	class?: string;
}
const { label, href, class: className, ...props }: Props = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a href={href} class="">
	{
		isActive ? (
			<strong class="flex">
				<span class="text-[#F67280]">&lt;</span>
				<span>{label}</span>&ThinSpace;
				<span class="text-[#F67280]">/</span>
				<span class="text-[#F67280]">&gt;</span>
			</strong>
		) : (
			<span class="flex">{label}</span>
		)
	}
</a>
