---
interface Props {
	label: string;
	href: string;
	class?: string;
}
const { label, href }: Props = Astro.props;
---

<li>
	<a
		href={href}
		class="group relative text-micro uppercase text-white/50 hover:text-white transition-colors duration-500 py-1"
	>
		{label}
		<span
			class="absolute bottom-0 left-0 w-full h-px bg-white scale-x-0 group-hover:scale-x-100 transition-transform duration-500 origin-left"
		></span>
	</a>
</li>
