---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Wrapper from "../components/Wrapper.astro";

import { SITE_TITLE } from "../config";

export interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title ? title : SITE_TITLE}</title>
	</head>
	<body class="bg-[#FEFCF3] text-gray-800 min-h-screen flex flex-col">
		<div class="flex w-full lg:px-2 px-1 justify-center">
			<Navbar />
		</div>
		<div class="lg:px-2 px-0">
			<slot />
		</div>
		<!-- <div class="flex w-full mt-20">
			<Footer />
		</div> -->
	</body>
</html>

<style>
	body {
		font-feature-settings: "liga" off, "calt" off;
	}
</style>
